.flex-container {
  display: flex;
  align-items: baseline;
  background-color: #f25511;
  width: 100%;
  align-items: center;
}
.flex-container1 {
  display: flex;
  background-color: #f25511;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}
.border-white {
  border: 2px solid white;
  height: 20px;
  width: 20px;
  padding: 5px;
  margin-left: 25px;
  margin-top: 25px;
  text-align: center;
  color: white;
}
.parag {
  align-items: center;
  padding-left: 15px;
  padding-right: 50px;
  font-size: large;
  font-weight: 600;
}
.cardInp {
  margin-bottom: 10px;
  width: 100%;
}
.cardInp i {
  position: absolute;
  color: #f25511;
}
.icon {
  padding: 15px;
  min-width: 50px;
}
.input {
  width: 80%;
  height: 40px;
  padding-left: 40px;
}

.end {
  padding-right: 25px;
}
.bg {
  background-color: #f25511;
  border: none;
  outline: 0;
}

.center {
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
}
.space {
  display: flex;
  justify-content: space-between;
}
.padBot {
  align-items: center;
  margin-bottom: 16px;
}
.spaceRight {
  padding-right: 10px;
}
.cardPad {
  padding-left: 10px;
  padding-right: 10px;
}
.top {
  padding-top: 25px;
}
.flexEnd {
  display: flex;
  justify-content: flex-end;
  padding: 0 24px 24px;
}

.apply {
  padding: 8px 16px;
  border: 0 solid #ccc;
  border-radius: 4px;
  color: #fff;
  background-color: #ff742b;
}

